.Card {
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid red;
  background-color: red;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
}

.Card .Title {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.Card .Content {
  flex-grow: 1;
  color: #000;
  padding: 20px;
  background-color: #fff;
}
